@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu1aB.woff2) format('woff2');
}
body{
  background-color: rgb(201, 91, 6);
  margin: 0;
  
 
}
  /*margin:16px;*/
.gradient-background {
  
  background: linear-gradient(300deg, #b41010,#ce5606, #c16905 );
  /*#C40C0C,#FF6500, #FF8A08 */
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;

}
 
#header{
  
  position: sticky;
  top:0;
}
#header +main{
  margin-top: 150px;
}
 
 
.divfixed{
 
  display:flex;
  flex-direction: column;
  flex:1;
  min-height: 0;

}

.container{
  display:flex;
  flex:wrap;
}
.left{
/*width:17px;*/
}
.right{
flex-grow: 1;
}

.grid-container{
display: grid;

grid-template-columns: repeat(11, 1fr);

}

.logo{
width:200px;
height: 150px;
 grid-row-start:span 6;
grid-row-end: span 7; 
/* grid-area: 1 /6 /2 /7;*/
order:2;
object-fit: cover;
}
.dity{

width:200px;
height: 150px;
grid-column-start: 5;
grid-column-end: 6;
order:1;
object-fit: cover;
}
.dity2{
width:200px;
height: 150px;
/*justify-content: left;*/
grid-column-start: 7;
grid-column-end: 8;
order:3;
object-fit: cover;
}

.container-fluid{
display:flex;
flex:wrap;
flex-direction: row;
justify-content: center;


}
.dropdown:hover> .dropdown-menu, .dropend:hover> .dropdown-menu{
  display: block;
  margin-top: .125em;
  
}

.dropdown:hover>.dropdown-menu{
  
background-color: antiquewhite;
color: maroon
}
.dropdown-menu{
  color: maroon;
}
.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}
.container-fluid{
  background: #C40C0C;
  margin-top: -15px;
  margin-bottom: -15px
}
/* Menu text color */
a.nav-link{
  color: aliceblue;
}
.navbar-nav a.nav-link.active{
  color: aliceblue;
}
.btn-outline-success{
  color: aliceblue;
}
.row {

display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
}

.marquee-container{
margin-top: 15px;
margin-bottom: -30px;
}

p{
margin-top: 0em;

}

.devi{
display:flex;
flex-direction:row;
align-items: center;
justify-content: center;
padding-left: 10px;
max-width: 100%;
}
.container .carousel .carousel-inner .carousel-item >img{
width:1280px;
 height:300px;
 margin-bottom: 10px;
} 
.carousel-item img{
margin-top: 17px;
}

p{
  gap: 0px;
}
.box1{
border: 1.5px dashed #cfff23;

  padding: 20px;
}
.single-row{

margin-right: -15px;
margin-left: 0px;
}
.news_1 .single-row .dt{
display: inline-table;
color: #fff;
width: 110px;
}
.news_1 .single-row{
display:flex;
color:aqua;
border-bottom: 1px dotted #cfff23;
padding-bottom: 10px;
}
#schedule{
margin-top: 10px;
}
.bottom-container{
  background-color: #b41010;
  color:#fff;
  padding : 50px 0 20px
}
.bottom-container{
  display:flex;

}

a {
  /* cursor: pointer; */
  color: #11999e;
  margin: 10px 20px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
.copyright {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}